# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\ssykh\IdeaProjects\spring-mvc-hiber-thyme-crud-security-app\SpringSecurityHiberMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
